* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  background-color: #e9ecf4;
  text-align: center; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #78c2ad;
  font-weight: bold; }

li{
  list-style: none;
}