.contenedorProducto{
    background: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 15px;
}

p{
    font-size: 10px;
   
   
}
